#map {
	/* Always set the map height explicitly to define the size of the div
				* element that contains the map. */

	position: fixed;
	height: 100%;
	width: 75%;
	margin: 40%;

/* Optional: Makes the sample page fill the window. */
}
